<ion-content [fullscreen]="true">
  <ion-button fill="clear" class="ion-margin" routerLink="/home-page/sign-up" (click)="modalCtrl.dismiss()">
    <ion-icon name="arrow-back" slot="icon-only" color="white"></ion-icon>
  </ion-button>
</ion-content>

<ion-footer class="ion-no-border">

  <ion-list lines="none">
    <ion-list-header class="ion-margin">
      <ion-text large="small">Link for reset password</ion-text>
    </ion-list-header>

    <ion-item class="ion-margin" lines="none">
      <ion-item>
        <ion-icon 
              [name]="type ? 'mail' : 'mail-outline'" 
              slot="end" 
              color="medium"
              (click)="changeType()">
            </ion-icon>
        <ion-input  
          placeholder="Email Address" 
          type="email">
        </ion-input>
      </ion-item>
    </ion-item>

    <ion-item lines="none" class="ion-margin-horizontal">
      <ion-fab-button slot="end" color="danger" (click)="sendlink()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>

</ion-footer>
