<ion-header>
  <ion-toolbar>
    <ion-title>
      chat room
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-text color="medium" text-center>

      <p>You joined the chat room as AdminOumayma</p>
    </ion-text>

    <ion-row *ngFor ="let message of messages">
      <ion-col size="9" *ngIf="message.user!== currentUser" class="message other-message">
        <b>{{message.user}}</b> <br>
        <span> {{message.msg}}</span>
        <div class="time" text-right> <br>{{message.createAt | date:'short'}}</div>
      </ion-col>


      <ion-col offset="3" size="9" *ngIf="messafe.user === currentUser" class="message my-message">
        <b>{{messsage.user}}</b> <br>
        <span>{{message.msg}}</span>
        <div class="time" text-right><br>{{message.createAt | date:'short'}}</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" >

        </ion-textarea>
</ion-col>
    <ion-col size="2">
      <ion-button expand="block" fill="clear" color="primary" [disabled]="message ===''" class="msg-btn" >
        <ion-icon slot="icon-only" name="send-outline" color="primary"></ion-icon>
     </ion-button>
  </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
