<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="center._id.length==0">New Center</ion-title>
    <ion-title *ngIf="center._id.length>0">Update center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of  Items -->
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Center Name</ion-label>
        <ion-input [(ngModel)]="center.centername" type="text" name="centername"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">longitude</ion-label>
        <ion-input type="number" [(ngModel)]="center.longitude" name="long"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">latitude</ion-label>
        <ion-input type="number" [(ngModel)]="center.latitude" name="lat"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description of Center</ion-label>
        <ion-textarea type="text" [(ngModel)]="center.description" name="desc" rows="3"></ion-textarea>
      </ion-item>
      <br>
      <div class="ion-text-end">
        <ion-button type="submit" (click)="save()" class="btn btn-primary text-end">Save</ion-button>
      </div>
    </ion-list>
    <br>
    <app-upload-img></app-upload-img>
  </ion-card-content>
</ion-card>
</ion-content>
