<ion-content [fullscreen]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     <ion-menu-button *ngIf="!back"></ion-menu-button>
     <ion-back-button *ngIf="back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
<ion-grid class="main-header">
    <div align ="center">
      <ion-avatar>
        <img src="../../assets/persons/camperphoto.jpg" />
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="eye-off" color="primary"></ion-icon>
        <ion-buttons slot="start">
          <ion-button fill="clear">edit password</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="person" color="primary"></ion-icon>
        <ion-buttons slot="start">
          <ion-button fill="clear">edit profile</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-col>
  </ion-row>

   <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-text>Name</ion-text>
        <p><ion-text color="dark">{{user.fullName | titlecase}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Phone</ion-text>
        <p><ion-text color="dark">+{{user.phoneNumber}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Email</ion-text>
        <p><ion-text color="dark">{{user.email}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>role</ion-text>
        <p><ion-text color="dark">Camper</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>password</ion-text>
        <p><ion-input type="password"color="dark" disabled></ion-input></p>
      </ion-label>
    </ion-item>
  </ion-list> 

<p>{{data}}</p>
<ion-button expand="full" (click)="loadInfo()"> Info profile</ion-button>
<ion-button expand="full" (click)="logout()"> logout</ion-button>
<!-- <ion-button expand="full" (click)="clearToken()"> clearJWT</ion-button>  -->
</ion-content>
